<a [routerLink]="['/news-list-all', 9999]">
  <h1 *ngIf="currentLang === 'es-ES'" tooltip="Ver todas las noticias">Noticias</h1>
  <h1 *ngIf="currentLang === 'ca-ES'" tooltip="Veure totes les notícies">Notícies</h1>
</a>
<article ngClass="data-container">
  <section *ngIf="wpPosts">
    <div class="row">
      <div *ngFor="let noticia of wpPosts">
        <div class="col">
          <section class="card">
            <figure class="card-header">
              <div *ngFor="let media of contenidoMedia">
                <img *ngIf="media.id === noticia.featured_media" class="img-fluid" src={{media.guid.rendered}} alt={{noticia.title.rendered}} title={{noticia.title.rendered}} /> 
              </div>
            </figure>
            <section class="card-body">
              <a [routerLink]="['/news-agenda-detail', noticia.slug, noticia.id]">
                <h5 class="card-title" [innerHTML] = "noticia.title.rendered">{{noticia.title.rendered}}</h5>
              </a>
            </section>
          </section>
        </div>
      </div>
    </div>
  </section>
</article>

<section *ngIf="!wpPosts">
  <div class="row">
  <div *ngFor="let item of [1,2,3,4]">
  <article class="card" aria-hidden="true" id="noticiaUnoPlaceHolder">
    <div>
      <img src="https://via.placeholder.com/260x145.png?text=...loading news list" class="card-img-top" alt="loading image">
    </div>
    <div class="card-body">
      <h5 class="card-title placeholder-glow">
        <span class="placeholder col-6"></span>
      </h5>
      <p class="card-text placeholder-glow">
        <span class="placeholder col-7"></span>
      </p>
    </div>
  </article> 
</div>
</div> 
</section>