header {
  background-color: #003747;
  display: grid;
  grid-template-areas: "navLogo navLangSede" "navLogo navBottom";
  grid-template-columns: 9% 91%;
  margin-top: 0.1rem;
  margin-bottom: 1.4rem;
  max-height: 103px;
}

.offcanvas-header {
  background-color: #003747;
  color: #fff;
}

.offcanvas-body {
  background-color: #ec9e37;
  color: #fff;
}

.btn-close {
  color: #fff;
}

.mobile-menu-button {
  grid-area: mobileMenu;
  display: none;
  padding-right: .2rem;
/*   text-align: right;
  justify-content: flex-end; */
}

.nav-bar-left-logo {
  grid-area: navLogo;
  background-color: #fff;
}

.nav-bar-top {
  grid-area: navLangSede;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: flex-end;
}

.nav-bar-bottom {
  grid-area: navBottom;
  display: grid;
  justify-content: flex-end;
}

.nav-bar-top-language {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  text-align: center;
  margin-right: 1rem;
}

button, .button-header-menu {
  background-color: #ed7448;
  border-radius: 0;
  color: #fff;
  font-weight: 300;
  margin-right: .5rem;
}

li {
  margin-bottom: 1rem;
}

li:hover, button:hover {
  transition: color 1s ease,  padding 0.8s linear;
  color: #003747;
}

.emprender-header {
  color: #fff!important;
  background-color: #6b9da7;
  padding: 4px 4px 4px 8px;
}
.conectar-header {
  color: #fff!important;
  background-color: #71b796;
  padding: 4px 4px 4px 8px;
}
.proyectar-header {
  color: #fff!important;
  background-color: #ed7448;
  padding: 4px 4px 4px 8px;
}
.emprender-header:hover, .conectar-header:hover, .projectar-header:hover {
  cursor: default;
}

h5 {
  margin-bottom:0;
}

@media screen and (max-width: 1190px) {
 header {
    grid-template-areas: "navLogo mobileMenu" "navLogo navLangSede";
    margin-bottom: 1rem;
    grid-template-columns: 10% 88%;
    margin-top: 0;
    font-size: 1.5rem;
    max-height: 120px;
  } 
  .logo-adr {
    height: 120px;
  }
  .button-header-menu{
    margin-right: 0;
  }
  .nav-bar-bottom {
    display: none;
  }
  .mobile-menu-button {
    display: flex;
    margin: 0;
    justify-content: flex-end;
  }
  div button:hover {
    color: #fff;
    border-color: #033747;
  }
  button, .button-header-menu {
    background-color: transparent;
  }
}

@media screen and (max-width: 400px) {
  .button-header-menu {
    font-size: .7rem;
    margin-right: .2rem;
  }
}
