<header class="container-fluid">

  <div class='nav-bar-left-logo' id="logotipo">
    <a class="navbar-brand" href="#">
      <img src="../assets/ADRBalears-conselleria-color.webp" alt="ADR Balears" title="Agència de desenvolupament regional de les Illes Balears" width="auto" height="120px">
    </a>
    <h1>Invest in Balearics</h1>
  </div>  
  <div class="navbar nav-bar-top">
    <div>
      <button class="btn button-header-menu "#langSelect (click)="switchLanguage('cas')">cas</button>
      <button class="btn button-header-menu "#langSelect (click)="switchLanguage('en')">eng</button>
      <button class="btn button-header-menu" #langSelect (click)="switchLanguage('cat')">cat</button>
    </div>
    <app-search-the-web></app-search-the-web>
  </div>

<!--   <nav class="navbar-expand-md nav-bar-top-sede-elect">
    <a *ngIf="currentLang === 'es-ES'" class="btn" href="#porque-invertir">Por qué invertir</a>
    <a *ngIf="currentLang === 'en-ENG'" class="btn" href="#porque-invertir">Why invest</a>

    <a *ngIf="currentLang === 'es-ES'" class="btn" href="#ecosistema-inversor">Ecosistema inversor</a>
    <a *ngIf="currentLang === 'en-ENG'" class="btn" href="#ecosistema-inversor">Discover Balearics</a>

    <a *ngIf="currentLang === 'es-ES'" class="btn" href="#servicios">Servicios</a>
    <a *ngIf="currentLang === 'en-ENG'" class="btn" href="#servicios">Services</a>

    <a *ngIf="currentLang === 'es-ES'" class="btn" href="#sectores">Sectores</a>
    <a *ngIf="currentLang === 'en-ENG'" class="btn" href="#sectores">Sectors</a>

    <a *ngIf="currentLang === 'es-ES'" class="btn" href="#talento">Talento</a>
    <a *ngIf="currentLang === 'en-ENG'" class="btn" href="#talento">Talent</a>

    <a *ngIf="currentLang === 'es-ES'" class="btn" routerLink="ayudas-y-subvenciones">{{'Ayudas' | translate}}</a>
    <a *ngIf="currentLang === 'en-ENG'" class="btn" routerLink="ajuts-i-subvencions">{{'Ajudes' | translate}}</a>

    <a *ngIf="currentLang === 'es-ES'" class="btn" routerLink="news-agenda-list/4">Noticias / Agenda</a>
    <a *ngIf="currentLang === 'en-ENG'" class="btn" routerLink="news-agenda-list/4">Notícies / Agenda</a>

    <a class="btn" routerLink="contact-adr-balears">Contacta</a>

    <button *ngIf="currentLang === 'es-ES'" class="btn" (click)="sedeElectronica()">{{'Sede electrónica' | translate}}</button>
    <button *ngIf="currentLang === 'en-ENG'" class="btn" (click)="sedeElectronica()">{{'Seu electrònica' | translate}}</button>
  </nav> -->
</header>

<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
   <!--  <a class="navbar-brand" href="#">Invest In Balearics</a> -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" *ngIf="currentLang === 'es-ES'" routerLink="baleares-una-apuesta-ganadora/3279">Por qué invertir</a>
          <a class="nav-link active" aria-current="page" *ngIf="currentLang === 'en-ENG'" routerLink="baleares-una-apuesta-ganadora/3279">Why invest</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" *ngIf="currentLang === 'es-ES'" routerLink="ecosistema-inversor/3282">Ecosistema inversor</a>
          <a class="nav-link active" *ngIf="currentLang === 'en-ENG'" routerLink="ecosistema-inversor/3282">Discover Balearics</a>         
        </li>
        <li class="nav-item">
          <a class="nav-link active" *ngIf="currentLang === 'es-ES'" routerLink="servicios-inversor-emprendedor/3284">Servicios</a>
          <a class="nav-link active" *ngIf="currentLang === 'en-ENG'" routerLink="servicios-inversor-emprendedor/3284">Services</a>         
        </li>
        <li class="nav-item">
          <a class="nav-link active" *ngIf="currentLang === 'es-ES'" routerLink="sectores-e-industrias/3286">Sectores</a>
          <a class="nav-link active" *ngIf="currentLang === 'en-ENG'" routerLink="sectores-e-industrias/3286">Sectors</a>         
        </li>
        <li class="nav-item nav-item-last">
          <a class="nav-link active" *ngIf="currentLang === 'es-ES'" routerLink="talento/3288">Talento</a>
          <a class="nav-link active" *ngIf="currentLang === 'en-ENG'" routerLink="talento/3288">Talent</a>         
        </li>
        <li class="nav-item">
          <a class="nav-link active" *ngIf="currentLang === 'es-ES'" routerLink="ayudas-y-subvenciones">{{'Ayudas' | translate}}</a>
          <a class="nav-link active" *ngIf="currentLang === 'en-ENG'" routerLink="ajuts-i-subvencions">{{'Ajudes' | translate}}</a>         
        </li>
        <li class="nav-item">
          <a class="nav-link active" *ngIf="currentLang === 'es-ES'" routerLink="news-agenda-list/4">Noticias / Agenda</a>
          <a class="nav-link active" *ngIf="currentLang === 'en-ENG'" routerLink="news-agenda-list/4">Notícies / Agenda</a>               
        </li>
      </ul>

    </div>
  </div>
</nav>