.the-header {
  display: grid;
  /* grid-template-areas: "logo search language" "logo mainmenu mainmenu"; */
  grid-template-areas: "logo language" "logo mainmenu";
  margin-top: 1rem;
  font-weight: 300;
  border-bottom: 5px solid #aa0043;
}
 .nav-link {
  color: #000000!important;
}

.button-header-menu {
  background: transparent!important;
  color: #000!important;
  padding-right: 0;
}

.btn-close {
  color: #fff;
}
.mobile-menu-button {
  grid-area: mobileMenu;
  display: none;
  padding-right: .2rem;
}
.logo {
  grid-area: logo;
  margin-left: 36px;
}
.language-select {
  grid-area: language;
  text-align: right;
  margin-right: 36px;
}
.navbar-toggler {
  grid-area: iconomenu;
}
.main-menu {
  grid-area: mainmenu;
  font-weight: bolder;
}
.search {
  grid-area: search;
}

.button-header-menu:hover, button:hover {
  transition: color 1s ease, padding 0.8s linear;
  border: 1px;
  border-color: #000000;
  background: #974890;
  font-style: normal;
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1.5rem;
  color: #fff;
}
h5 {
  margin-bottom:0;
}

@media screen and (max-width: 1215px) {
  .nav-link {
  font-weight: 400;
  font-size: .9rem;
}
}

@media screen and (max-width: 991px) { /* para hacerlo coincidir con el punto de ruptura de bootstrap 'ng' */
  .the-header {
    grid-template-areas: "logo" "language" "mainmenu";
    row-gap: 1rem;
  }
  .main-menu {
    display: grid;
    grid-template-areas: "search iconomenu";
  }
  .logo {
    margin-left: 0;
  }
  .language-select {
    text-align: right;
    margin-right: .5rem;
  }
  .mobile-invest-menu {
    margin-left: .5rem;
    padding-left: .5rem;
    font-size: 1.5rem;
    border: 1px solid #974890;
    background-color: #dd9f70;
    border-radius: 3px;
    margin-bottom: .5rem;
  }
  .nav-link {
    color: #fff!important;
  }
  div.container-fluid {
    justify-content: end;
    padding: .5rem;
  }
  button, .button-header-menu {
    font-weight: 200;
    font-size: .9rem;
  }
  li {
    margin-right: 2rem;
    font-size: .8rem;
  }
  .nav-item {
    font-weight: normal;
  }
  .nav-item-last {
    margin-right: 8rem;
  }
}

@media screen and (max-width: 400px) {
  .the-header {
    grid-template-areas: "logo" "language" "mainmenu";
  }
  .logo {
    margin-left: .5rem;
  }
  .search {
    margin-left: .5rem;
  }
  .navbar-toggler {
    margin-right: .5rem;
  }
}