.the-header {
  display: grid;
  grid-template-areas: "navLogo languageSearch" "mainMenu mainMenu";
  margin-top: 1rem;
}

ul {
  margin-left: 2rem;
  li {
    margin-right: 2rem;
  }
}

.offcanvas-header {
  background-color: #003747;
  color: #fff;
}

.offcanvas-body {
  background-color: #ed7448;
  color: #fff;
}

.btn-close {
  color: #fff;
}

.mobile-menu-button {
  grid-area: mobileMenu;
  display: none;
  padding-right: .2rem;
}
.logo {
  grid-area: navLogo;
}
.language-and-search {
  border: 1px solid blue;
  grid-area: languageSearch;
  text-align: right;
}
.main-menu {
  border: 1px solid red;
  grid-area: mainMenu;
  width: 100%;
  font-weight: bolder;
}

.border-gradient {
  border-bottom: 5px solid transparent;
  border-image: linear-gradient(to right, #dd9f70, #974890);
  border-image-slice: 1; /* hace que se vea el borde */
  width:100%;
}
.nav-bar-bottom {
  grid-area: navBottom;
  display: grid;
  justify-content: flex-end;
}

.nav-bar-top-language {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  text-align: center;
  margin-right: 0;
}

button, .button-header-menu {
  background-color: transparent;
  border-radius: 0;
  font-weight: 300;
}

.button-header-menu:hover, button:hover {
  transition: color 1s ease,  padding 0.8s linear;
  color: #0098CB;
}

h5 {
  margin-bottom:0;
}

@media screen and (max-width: 768px) { /* para hacerlo coincidir con el punto de ruptura de bootstrap 'ng' */
  .container, .container-fluid {
    padding-right: 0.5;
    padding-left: 0.5;
  }
  header {
    grid-template-areas: "navLogo" "languageSearch" "mainMenu";
  }
  header h1 {
    margin-top: 1rem;
  }
/*   img {
    width: 100%;
    height: auto;
  } */
  .logo-title{
    text-align: center;
  }
  div.container-fluid {
    justify-content: end;
    padding: .5rem;
  }
  button, .button-header-menu {
    font-weight: 200;
    font-size: .9rem;
  }
  li {
    margin-right: 2rem;
    font-size: .8rem;
  }
  .nav-item {
    font-weight: normal;
  }
  .nav-item-last {
    margin-right: 8rem;
  }
}

@media screen and (max-width: 400px) {
  .button-header-menu {
    font-size: .9rem;
    margin-right: .2rem;
  }
}