<footer class="grid-item">
  <section class="logo-adr-balears">
    <a class="nav-link" href="https://caib.es" target="_blank"> 
      <img width="330" 
      height="auto" alt="ADR Balears" title = "Govern de les Illes Balears"
      title="Govern de les Illes Balears" 
      src="../../assets/images/logo gov+adr.svg">
    </a>
  </section>

  <section class="localizacion-adr-balears">
    Plaça de Son Castelló, 1<br>
    07009 - Palma de Mallorca<br>
    Illes Balears<br>
    <a href="tel:971176161">Tel: 971 17 61 61</a>
  </section>

  <section class="textos-legales">
    <div *ngIf="currentWPLang === 43"><a routerLink="/accesibilidad/357" aria-label="accesibilidad">{{'Accesibilidad' | translate}}</a></div>
    <div *ngIf="currentWPLang === 42"><a routerLink="/accesibilidad/357" aria-label="accesibilitat">{{'Accessibilitat' | translate}}</a></div>
    <div *ngIf="currentWPLang === 44"><a routerLink="/accesibilidad/357" aria-label="accesibilitat">{{'Accessibility' | translate}}</a></div>

    <div *ngIf="currentWPLang === 43"><a routerLink="/aviso-legal/361" aria-label="aviso legal">{{'Política de privacidad y aviso legal' | translate}}</a></div>
    <div *ngIf="currentWPLang === 42"><a routerLink="/aviso-legal/361" aria-label="avis legal">{{'Politica de privacitat i avís legal' | translate}}</a></div>
    <div *ngIf="currentWPLang === 44"><a routerLink="/aviso-legal/361" aria-label="avis legal">{{'Privacy policy and legal notice' | translate}}</a></div>

    <div *ngIf="currentWPLang === 43"><a routerLink="/politica-de-cookies/359" aria-label="política de cookies">{{'Política Cookies' | translate}}</a></div>
    <div *ngIf="currentWPLang === 42"><a routerLink="/politica-de-cookies/359" aria-label="politica de cookies">{{'Política Galetes' | translate}}</a></div>
    <div *ngIf="currentWPLang === 44"><a routerLink="/politica-de-cookies/359" aria-label="politica de cookies">{{'Cookie Policy' | translate}}</a></div>

    <div *ngIf="currentWPLang === 43"><a href="https://seuelectronica.caib.es/" target="_blank">{{'Seu electrònica' | translate}}</a></div>
    <div *ngIf="currentWPLang === 42"><a href="https://seuelectronica.caib.es/" target="_blank">{{'Seu electrònica' | translate}}</a></div>
    <div *ngIf="currentWPLang === 44"><a href="https://seuelectronica.caib.es/" target="_blank">{{'Seu electrònica' | translate}}</a></div>

    <div *ngIf="currentWPLang === 43"><a href="https://www.adrbalears.es/transparency-list" target="_blank">{{'Transparencia' | translate}}</a></div>
    <div *ngIf="currentWPLang === 42"><a href="https://www.adrbalears.es/transparency-list" target="_blank">{{'Transparencia' | translate}}</a></div>
    <div *ngIf="currentWPLang === 44"><a href="https://www.adrbalears.es/transparency-list" target="_blank">{{'Transparency' | translate}}</a></div>

    <div *ngIf="currentWPLang === 43"><a href="https://www.adrbalears.es/transparency-list" target="_blank">{{'Canal de denuncias' | translate}}</a></div>
    <div *ngIf="currentWPLang === 42"><a href="https://www.adrbalears.es/transparency-list" target="_blank">{{'Canal de denuncies' | translate}}</a></div>
    <div *ngIf="currentWPLang === 44"><a href="https://www.adrbalears.es/transparency-list" target="_blank">{{'Denuncia' | translate}}</a></div>

    <div>
      <a *ngIf="currentWPLang === 43" routerLink="contact-invest-in-balearics">{{'Contacta' | translate}}</a>
      <a *ngIf="currentWPLang === 42" routerLink="contact-invest-in-balearics">{{'Contacta' | translate}}</a>
      <a *ngIf="currentWPLang === 44" routerLink="contact-invest-in-balearics">{{'Contact us' | translate}}</a>
    </div>
  </section>
  <section class='copy-right-adr'>
    <a href='https://www.adrbalears.es' target="_blank">&copy; 2025 Agència de desenvolupament regional de les Illes Balears</a>
  </section>
</footer>
