footer {
  display: grid;
  grid-template-columns: 25% 45% 30%;
  grid-template-areas: "localizacionBottom textosLegales logoBottom " "copyRight copyRight copyRight";
  text-align: left;
  background-color: #2f2f2f;
  color: #fff;
  padding-top: .8rem;
  font-size: .8rem;
  border-top: 5px solid #aa0043;
}

.logo-adr-balears {
  grid-area: logoBottom;
  margin-left: 1rem;
  justify-self: start;
}

.localization {
  grid-area: localizacionBottom;
}

.textos-legales {
  grid-area: textosLegales;
  display: grid;
  text-align: left;
  grid-template-columns: 1fr 1fr 1fr;
}

.copy-right-adr {
  grid-area: copyRight;
  text-align: center;
}

a {
  color: #fff!important;
  text-decoration: none;
  display: inline;
  overflow: hidden;
  transition: color 0.4s ease;
  text-decoration: none!important;
}

@media screen and (max-width: 991px) {
  footer{
    grid-template-columns: 100%;
    grid-template-areas: "logoBottom" "localizacionBottom" "textosLegales" "copyRight";
    text-align: center;
    font-size: 1rem;
  }
  .logo-adr-balears {
    justify-self: center;
  }
  .textos-legales {
    text-align: center;
  }
  .localization {
    margin-top: 1rem;
    margin-left: 0;
    padding-left: 0;
  }
  .social-media {
    margin-top: 0;
    margin-left: 0;
    padding-left: 0;
  }
  .textos-legales {
    margin-top: 0;
    padding-left: 0;
    grid-template-columns: auto;
  }
  .copy-right-adr {
    font-size: .7rem;
  }
}