.content-detail {
  margin: 2rem;
  border-radius: 0;
  padding: 1rem;
  animation: .5s ease-out 0s 1 slideInFromLeft;
  display: grid;
  grid-template-areas: "a" "b" "c";
  gap: 1rem;
}

p {
  margin: 2rem;
}

.detail-title {
  grid-area: a;
  font-weight: bolder;
}

.detail-body {
  grid-area: b;
  font-size: 1.25rem;
  line-height: 2rem;
}

.detail-button {
  grid-area: c;
  justify-self: end;
}

figure {
  border: 2px dotted #003747;
  border-radius: 8px;
  width: auto;
  height: auto;
  background-image: url('https://static.pexels.com/photos/414171/pexels-photo-414171.jpeg');
  background-size:cover;
  animation: slidein 10s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.center {
  background-image: url('https://static.pexels.com/photos/414171/pexels-photo-414171.jpeg');
  background-size:cover;
  animation: slidein 10s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes slidein {
  from {background-position: top;background-size:3000px; }
  to {background-position: -100px 0px;background-size:2750px;}
  
  }

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@media screen and (max-width: 1095px) {
  .simple-content {
    grid-template-rows: auto;
    column-gap: 2rem;
  }

  .text-container {
    position: relative;
    width: 100%;
    animation: 1s ease-out 0s 1 slideInFromLeft; 
  }

  form {
    position: relative;
    animation-duration: 2s;
    animation-name: slidein;
  }
}