.entry-content {
  padding: 0;
}

.wp-block-column h1 {
  padding-bottom: 1rem;
}
.wp-block-column p {
  padding-right: 2rem;
}

.wp-block-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 0 20%;
}

.wp-block-columns:nth-child(2), .wp-block-columns:nth-child(4) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #3d4e97;
  color: #fff;
  padding: 0 20%;
  .wp-block-column {
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 100%;
    h2 {
      margin-bottom: 2rem;
    }
    h2, p {
      padding-left: 2rem;
    }
    img {
      width: inherit;
    }
  }
}

@media screen and (max-width: 992px) {
 .wp-block-columns {
  grid-template-columns: 1fr;
  padding: 0;
  img {
    width: 100%;
    margin: auto;
  }
} 
.wp-block-columns:nth-child(2), .wp-block-columns:nth-child(4) {
  grid-template-columns: 1fr;
  padding: 0;
}
.wp-block-columns:nth-child(2) .wp-block-column img, .wp-block-columns:nth-child(4) .wp-block-column img {
  width: 100%;
}
}