<section class="detail-news-container" *ngIf="oneNew">
    <article class="card">
        <figure class="card__head" *ngIf="contenidoMedia">
            <img src={{contenidoMedia.guid.rendered}} alt={{contenidoMedia.title.rendered}} title={{contenidoMedia.title.rendered}}>
        </figure>
        <section class="card__title">
            <h1 [innerHTML]="oneNew.title.rendered"></h1>
        </section>
        <section class="card__body">
            <h4 class="card__date">{{oneNew.modified | date: 'dd/MM/yyyy'}}</h4>
            <article class="card__text" [innerHTML]="oneNew.content.rendered"></article>
        </section>
    </article>
</section>

<small class="barra_meta" *ngIf="currentLang === 'es-ES'">Archivado en:</small>
<small class="barra_meta" *ngIf="currentLang === 'ca-ES'">Arxivat en:</small>

<section class="noticia-tag" *ngIf="contenidoTag">
    {{contenidoTag}}
    <article *ngFor="let tag of contenidoTag">
        <a class="noticia-tag-item" routerLink="/search-the-web-result-list/{{tag.id}}">{{tag.name}}</a>
    </article>
</section>
<hr>
<div *ngIf="!oneNew"><i class="fa fa-spinner fa-pulse fa-1x fa-fw" style='color: #a2d3da'></i>{{'gettingContentsIDI' | translate}}</div>
<div *ngIf="!contenidoTag"><i class="fa fa-spinner fa-pulse fa-1x fa-fw" style='color: #a2d3da'></i>{{'noTagsFound' | translate}}</div>


