<div class="ratio ratio-16x9">
  <iframe width="1193" height="auto" src="https://www.youtube.com/embed/AmCH60FVsZI?si=FNh7W9XiWwD-Py8q" title="Invest In Balearics" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>

<!-- <div>
  <p>Somos la Agencia de Desarrollo Regional de Baleares (<a href='https://adrbalears.es'>ADR Balears</a>), entidad pública del Gobierno regional que ofrece servicios de atención y asesoramiento al empresario, inversor extranjero y delegaciones extranjeras que deseen valorar,  iniciar o  ampliar una actividad económica en nuestra región.</p>
  <p>Nuestro objetivo es fomentar la actividad económica y empresarial de Baleares en aquellos sectores y actividades que aporten un valor añadido a nuestro desarrollo regional. Favorecemos y activamos aquellas inversiones que impulsen un  desarrollo de Baleares desde la diversificación del tejido productivo y la empleabilidad y contratación de mano de obra cualificada en un entorno de calidad y seguridad laboral.</p>
  <p>Cualquier solicitud se responde de forma directa o se canaliza a través de la red de agentes y colaboradores del ecosistema en la región con el objetivo de incrementar las posibilidades de éxito de los proyectos.</p>
  <p>Trabajamos de manera coordinada y como nodo de <a href='https://www.investinspain.org/en/index' target="_blank">Invest in Spain</a>.</p>
</div> -->

<app-simple-text-viewer></app-simple-text-viewer>