.section {
  position: relative;
  color: #f1f1f1;
  margin-bottom: .5rem;
  max-width: 100%;
  width: 100%;
  margin: auto;
}

video {
  width: 100%;
  height: auto; 
}

figure {
  width: 100%;
  height: 60vh;
  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), #3d4e97),url('../../assets/images/header-image.jpeg');
  background-size:cover;
  animation: zoominout 5;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-direction: alternate;
}

@keyframes zoominout {
  from {background-position: top;background-size:1200px; }
  to {background-position: -100px 0px;background-size:1750px;}
}

app-simple-text-viewer{
  position: absolute;
  left: 20%;
  top: 10%;
  max-width: 30%;
}

form {
  position: absolute;
  top: 10%;
  right: 20%;
  background-color: #fffae4;
  color: #000;
  padding: 1rem;
  animation-duration: 3s;
  animation-name: slidein;
}

.mb-3 {
  padding-top: 1rem;
}

.macro-data {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
}

.macro-data-area {
  color: #fff;
}

.row {
  --bs-gutter-x: 0;
}

@keyframes slidein {
  from {
    translate: 150vw 0;
    scale: 200% 1;
  }

  to {
    translate: 0 0;
    scale: 100% 1;
  }
}

h3{
  margin-left: 5%;
  max-width: 80%;
  font-weight: bold;
  margin-top: 1rem;
}

p{
  margin-top: 3rem;
  margin-left: 10%;
  font-size: 1.1rem;
  line-height: 1.5rem;
  width: 80%;
}

ul {
  margin-top: 3rem;
  margin-left: 0;
  list-style: none;
}

ol {
  margin-top: 3rem;
  margin-left: 10%;
  list-style: decimal-leading-zero outside none;
  line-height: 1.8rem;
  width: 80%;
}

li {
  font-size: 1.1rem;
}

article:nth-child(odd) {
  background-color: #0098CB;
  background-image: linear-gradient(to top right, #fff, #fff);
  text-align: left;
  button {
    border: none;
    color: #fff;
  }
}

article:nth-child(even) {
  background-color: #003747;
  text-align: left;
  background-image: linear-gradient(to right,#c75765, #fff);
  button {
    border: none;
    color: #000;
  }
}

/* .table-container {
  display: grid;
  grid-template-areas: "h i j" "k m l";
  grid-template-rows: 1fr 1fr;
  gap: 3rem;
  margin-bottom: 1rem;
  font-weight: bolder;
  align-content: space-evenly;
} */

ul li {
  border-left: 5px solid black;
  padding-left: 5px;
}

/* .empresas {
  grid-area: h;
  font-size: 1.5rem;
  color: #000;
}

.facturacion {
  grid-area: i;
  font-size: 1.5rem;
  color: #000;
}

.trabajadores {
  grid-area: j;
  font-size: 1.5rem;
  color: #000;
}

.top10facturacion {
  grid-area: k;
  font-size: 1.5rem;
}

.top10empresas {
  grid-area: l;
  font-size: 1.5rem;
}

#value::after {
  font-size: 1.5rem;
  content: counter(count);
  animation: counter 2s linear infinite alternate;
  counter-reset: count 0;
} */

@keyframes counter {
  0% {
    counter-increment: count 0;
  }
  10% {
    counter-increment: count 1;
  }
  20% {
    counter-increment: count 2;
  }
  30% {
    counter-increment: count 3;
  }
  40% {
    counter-increment: count 4;
  }
  50% {
    counter-increment: count 5;
  }
  60% {
    counter-increment: count 6;
  }
  70% {
    counter-increment: count 7;
  }
  80% {
    counter-increment: count 8;
  }
  90% {
    counter-increment: count 9;
  }
  100% {
    counter-increment: count 10;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .ecosistema-inversor {
    animation-name: wipe-enter 2s infinite;
    animation-duration: 1s;
    animation-iteration-count: 1;
  }
}

@keyframes wipe-enter {
	0% {
		transform: scale(0, .025);
	}
	50% {
		transform: scale(1, .025);
	}
}

@media (prefers-reduced-motion: no-preference) {
  .square-animation {
    animation: wipe-enter 2s 1;
  }
}

@media screen and (max-width: 1400px) {
  app-simple-text-viewer{
    left: 1%;
    top: 1%;
    max-width: 90%;
    color: rgb(255, 255, 255);
  }
  form{
    right: 1%;
    top: 42%;
    width: 60%;
  }
  form button {
    margin-top: 0;
  }
  main {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 1200px) {
  main {
    grid-template-areas: "a" "b" "c" "d" "e";
    padding: 0;
  } 

  app-simple-text-viewer{
    position: relative;
    left: 0;
    max-width: 100%;
  }
  
  form {
    position: relative;
    left: 0;
    margin-top: 1rem;
    width: 100%;
    border-radius: 0;
    animation-name: slidein;
    background-color: #003747;
    background-image: linear-gradient(to bottom left,#003747, rgb(170, 170, 170));
  }

  article {
    padding: 0;
  }

  button {
    margin-bottom: 1rem;
  }

  .table-container {
    grid-template-areas: "h i" "j k" "l";
  }

  .capital-number{
    margin-left: 1px;
  }
}

@media screen and (max-width: 992px) {
  main {
    grid-template-areas: "a" "b" "c" "d" "e";
  }
  .table-container {
    grid-template-areas: "h" "i" "j" "k" "l";
  }
  p {
    margin-top: 2rem;
    margin-left: 5%;
    width: 95%;
  }
}