
<section ngClass="section">
    <article ngClass="top-content">
      <app-simple-text-viewer [wpPageID] = 'homeIntroPage'></app-simple-text-viewer>
    </article>
</section>

<main ngClass = "home-content">
  <article ngClass="porque-invertir">
    <app-simple-text-viewer-detail-home [wpPageDetailID]="homeIntroPage_1" [adjustContent]=false></app-simple-text-viewer-detail-home>
  </article>

  <article ngClass="ecosistema-inversor">
    <app-simple-text-viewer-detail-home [wpPageDetailID]="homeIntroPage_2" [adjustContent]=true></app-simple-text-viewer-detail-home>
  </article>

  <article ngClass="servicios">
    <app-simple-text-viewer-detail-home [wpPageDetailID]="homeIntroPage_3" [adjustContent]=false></app-simple-text-viewer-detail-home>
  </article>

  <article ngClass="sectores">
    <app-simple-text-viewer-detail-home [wpPageDetailID]="homeIntroPage_4" [adjustContent]=true></app-simple-text-viewer-detail-home>
  </article>

  <article ngClass="talento">
    <app-simple-text-viewer-detail-home [wpPageDetailID]="homeIntroPage_5" [adjustContent]=false></app-simple-text-viewer-detail-home>
  </article>
</main>
