.form {
  padding: 24px;
}

.form-control {
  border-radius: 0;
  border: none;
  outline: none;
  border-bottom: 1px solid #ccc; /* You can adjust the color and thickness of the outline */
}

.form-control:focus {
  border-color: #3d4e97;

  box-shadow: none;
}

.ng-invalid.ng-untouched:not(form)  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid.ng-touched:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

button {
  width: 150px;
}
.form-group {
  margin-top: 2rem;
  padding: 24px;
}

.input-group {
  column-gap: 16px;
}

.ocultar {
  display: none;
}

a {
  color: #000!important;
}