<form ngClass="form" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <h2>{{'requestForInformation' | translate}}</h2>
  <section ngClass="mb-3">
    <input type="text" ngClass="form-control ng-untouched ng-pristine ng-valid" required placeholder="{{'Name' | translate}}*" aria-describedby="emailHelp" formControlName="contactName">
  </section>
  <section ngClass="input-group mb-3">
    <input type="mail" ngClass="form-control" required placeholder="{{'Email' | translate}}*" aria-label="Email address" formControlName="contactEmail">
    <input type="tel" ngClass="form-control" placeholder="{{'phone' | translate}}" aria-label="Phone" formControlName="contactPhone" maxlength="9" minlength="9">
  </section>
  <section ngClass="input-group mb-3">
    <input type="mail" ngClass="form-control" placeholder="{{'companyName' | translate}}" aria-label="Corporation" formControlName="corporation">
    <select ngClass="form-control" id="country" name="country" formControlName="country">
      <option value="" disabled selected hidden>{{ 'country' | translate }}</option>
      <optgroup *ngFor="let group of groupedCountries" [label]="group.letter">
        <option *ngFor="let country of group.countries" [value]="country.name.common">
          {{ country.name.common }}
        </option>
      </optgroup>
    </select>
  </section>
  <section ngClass="input-group">
    <textarea ngClass="form-control" placeholder="{{'howCanWeHelpYou' | translate}}" aria-label="With textarea" formControlName="body"></textarea>
  </section>
  <section ngClass="mb-3 form-check">
    <input type="checkbox" ngClass="form-check-input" formControlName="acceptTerms">
    <a routerLink="/aviso-legal/361" target="_self">
      {{'acceptTerms' | translate}}
    </a>
  </section>
  <button type="submit" ngClass="btn" [disabled]="!contactForm.valid">
    <div ngClass="text-center" *ngIf ="!submitted">{{'send' | translate}}</div>
    <div ngClass="spinner-border" role="status" *ngIf ="contactForm.valid && submitted">
      <span ngClass="visually-hidden">{{'sending' | translate}}</span>
    </div>
  </button>
  <!--   {{contactForm.value | json}} -->
</form>
