.wp-block-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  .wp-block-column:nth-child(1) {
    padding-right: 2rem;
  }
  .wp-block-image {
  margin-top: 0;
}        
}

.entry-content h1 {
  padding-bottom: 1rem;
}

.entry-content h1 p {
  padding-right: 4rem;
}

.content {
  grid-area: contenido;
  padding-right: 0;
}

.wp-block-image {
  margin-top: 2rem;
  img {
  margin: 0;
  width: 100%;
  height: auto;
}
}

@media screen and (max-width: 992px) { 
.wp-block-columns {
  display: grid;
  grid-template-columns:  1fr;
  h1,h2 {
    margin-top: .5rem;
  }
  .detail-title, .content {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
  }
  .image {
    margin-bottom: 2rem;
    width: 100%;
    height: auto;
  }               
} 
.wp-block-columns .wp-block-column:nth-child(1) {
  padding-right: 0;
} 
}