.entry-content {
  display: grid;
  grid-template-areas:  "titulo imagen" 
                        "contenido imagen";
                
}

.entry-content h1 {
  padding-right: 4rem;
  padding-bottom: 1rem;
}

.entry-content h1 p {
  padding-right: 4rem;
}

.detail-title {
  grid-area: titulo;
}
.content {
  grid-area: contenido;
 /*  padding-right: 4rem; */
}
.image {
  grid-area: imagen;
}