.entry-content {
  padding: 0;
}

.wp-block-column h1 {
  padding-bottom: 1rem;
}
.wp-block-column p {
  padding-right: 4rem;
}
.wp-block-columns:nth-child(1) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 0 20%;
}

.wp-block-group:nth-child(2) {
  background-color: #3d4e97;
  color: #fff;
  padding: 0 20%;
  .wp-block-group {
    padding-top: 2rem;
    padding-bottom: 2rem;
    h2 {
      margin-bottom: 2rem;
    }
    .wp-block-column:nth-child(1), .wp-block-column:nth-child(2) {
      border-right: 1px solid #fff;
    }
    .wp-block-column:nth-child(2), .wp-block-column:nth-child(3) {
      padding-left: 2rem;
    }
  }
}

.wp-block-columns:nth-child(2) {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.wp-block-group:nth-child(3) {
  padding-top: 2rem;
  padding: 0 20%;
}

/* .wp-block-group:nth-child(3) {
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding: 0 20%;
  margin: auto;
  .wp-block-columns:nth-child(2) {
    display: grid;
    grid-template-columns: 66% 33%;
    gap: 1rem;
     .wp-element-caption {
      position: absolute;
      line-height: 3rem;
      top: 50%;
      left: 71%;
      transform: translate(-50%, -71%);
      color: #fff;
      text-align: center;
    } 
  }
  .wp-block-columns:nth-child(3), .wp-block-columns:nth-child(4), .wp-block-columns:nth-child(5) {
    border: 1px solid green;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;

  }
  .wp-block-columns:nth-child(3) {
    .wp-element-caption {
      position: absolute;
      line-height: 3rem;
      top: 60%;
      left: 50%;
      transform: translate(-60%, -60%);
      color: green;
      text-align: center;
    } 
  }

} */

.wp-block-image img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 992px) {
  .entry-content {
  .image{
    width: 100%;
  }
  h1,h2, p {
  padding-left: 1.25rem;
  padding-right: 1.25rem; 
  }
}

  .wp-block-columns:nth-child(1) {
    grid-template-columns: 1fr;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 0;
  }

  .wp-block-group:nth-child(2) {
    padding: 0 10%;
  }

  .wp-block-columns:nth-child(2) {
    grid-template-columns: 1fr;
    padding: 0;
    .wp-block-group {
      padding-top: 2rem;
      padding-bottom: 2rem;
      h2 {
        margin-bottom: 2rem;
      }
      .wp-block-column:nth-child(1), .wp-block-column:nth-child(2) {
        border-right: none;
      }
      .wp-block-column:nth-child(2), .wp-block-column:nth-child(3) {
        padding-left: 0;
      }
    }
  }

.wp-block-group:nth-child(2) .wp-block-group .wp-block-column:nth-child(1), 
.wp-block-group:nth-child(2) .wp-block-group .wp-block-column:nth-child(2), 
.wp-block-group:nth-child(2) .wp-block-group .wp-block-column:nth-child(3) {
  border-right: none;
  padding-left: 0;
}
.wp-block-group:nth-child(3) {
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 100%;
    margin: auto;
}
}
