.entry-content {
  padding: 0;
  display: grid;
  grid-template-areas:  "titulo " 
                        "contenido ";
}

.wp-block-group:nth-child(1), .wp-block-group:nth-child(3) {
  padding: 0 25%;
   margin-top: 2rem;
  margin-bottom: 2rem;
}

.wp-block-media-text {
  padding-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.wp-block-group:nth-child(2){
  padding: 3rem;
}

.wp-block-group:nth-child(2), .wp-block-table {
  background-color: #3d4e97;
  color: #fff;
  h2, .wp-block-table {
    padding: 0 25%;
  }

  h2, h3 {
    margin-bottom: 2rem;
  }
}