.entry-content {
  padding: 0;
}

.wp-block-column h1 {
  padding-bottom: 1rem;
}
.wp-block-column p {
  padding-right: 4rem;
}
.wp-block-columns:nth-child(1) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 0 20%;
}

.wp-block-group:nth-child(2) {
  background-color: #3d4e97;
  color: #fff;
  padding: 0 20%;
  .wp-block-group {
    padding-top: 2rem;
    padding-bottom: 2rem;
    h2 {
      margin-bottom: 2rem;
    }
    .wp-block-column:nth-child(1), .wp-block-column:nth-child(2) {
      border-right: 1px solid #fff;
    }
    .wp-block-column:nth-child(2), .wp-block-column:nth-child(3) {
      padding-left: 2rem;
    }
  }
}

.wp-block-columns:nth-child(2) {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.wp-block-group:nth-child(3) {
  padding-top: 2rem!important;
  padding-bottom: 2rem!important;
  padding: 0 20%;
  .wp-block-gallery figure {
    display: inline-block;
    margin: 0; // elimina márgenes por defecto del figure
    text-align: center;

  img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }

  figcaption {
    margin-top: 0.5rem;
    font-weight: bold;
    text-align: center;
    position: relative;
    top: -50%;
    color: #fff;
  }

  img:hover {
    opacity: inherit;
    filter: none;
  }
}

}

.wp-block-gallery:nth-child(2) {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  max-width: 100%;
  margin: 0 auto;

  // Selecciona el primer elemento hijo (la primera imagen, por ejemplo)
  > *:nth-child(1) {
    grid-column: span 2;
  }
}


.wp-block-image img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 992px) {
  .entry-content {
  .image{
    width: 100%;
  }
  h1,h2, p {
  padding-left: 1.25rem;
  padding-right: 1.25rem; 
  }
}

  .wp-block-columns:nth-child(1) {
    grid-template-columns: 1fr;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 0;
  }

  .wp-block-group:nth-child(2) {
    padding: 0 10%;
  }

  .wp-block-columns:nth-child(2) {
    grid-template-columns: 1fr;
    padding: 0;
    .wp-block-group {
      padding-top: 2rem;
      padding-bottom: 2rem;
      h2 {
        margin-bottom: 2rem;
      }
      .wp-block-column:nth-child(1), .wp-block-column:nth-child(2) {
        border-right: none;
      }
      .wp-block-column:nth-child(2), .wp-block-column:nth-child(3) {
        padding-left: 0;
      }
    }
  }

.wp-block-group:nth-child(2) .wp-block-group .wp-block-column:nth-child(1), 
.wp-block-group:nth-child(2) .wp-block-group .wp-block-column:nth-child(2), 
.wp-block-group:nth-child(2) .wp-block-group .wp-block-column:nth-child(3) {
  border-right: none;
  padding-left: 0;
}
  .wp-block-group:nth-child(3) { 
    padding: 0 10%;
    .wp-block-gallery {
      grid-template-columns: 1fr;
      gap: 1rem;
    }
  }

  .wp-block-group:nth-child(3) .wp-block-gallery > :nth-child(1) {
    grid-column: inherit;
  }
}
