.content-detail {
  border-radius: 0;
  padding: 1rem;
  animation: 2s ease-out 0s 1 slideInFromLeft;
  display: grid;
  grid-template-areas: "figure title" "figure body" "figure button";
  gap: 1rem;
  max-width: 1200px;
  margin: auto;
}

.content-detail-full {
  border-radius: 0;
  padding: 1rem;
  animation: 2s ease-out 0s 1 slideInFromLeft;
  display: grid;
  grid-template-areas: "title figure" "body figure" "button figure";
  gap: 1rem;
  max-width: 100%;
}

.content-detail--figure {
  grid-area: figure;
}

.content-detail--figure.img {
  max-width: 552px;
}

.content-detail--title {
  grid-area: title;
  font-weight: bolder;
}

.content-detail--body {
  grid-area: body;
  font-size: 1.25rem;
  line-height: 2rem;
}

.content-detail--button {
  grid-area: button;
  max-height: 36px;
  border: 1px solid #fff;
  /* justify-self: end; */
}


@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@media screen and (max-width: 1095px) {
  .simple-content {
    grid-template-rows: auto;
    column-gap: 2rem;
  }

  .text-container {
    position: relative;
    width: 100%;
    animation: 1s ease-out 0s 1 slideInFromLeft; 
  }

  form {
    position: relative;
    animation-duration: 2s;
    animation-name: slidein;
  }
}