.filter-form {
  grid-area: formulario;
  margin-bottom: 0;
  padding-left: 0;
}

.filter-form-pre-defined {
  margin-top: 0;
}

.pre-defined-filter-area {
  grid-area: preDefinedFilter;
  background-color: transparent;
  color: #003747!important;
  height: 80%;
  padding-left: .5rem;
  margin-top: 4rem;
}

.accordion-body{
  padding: 0;
}

.accordion-button{
  margin: 0px !important;
  background-color: transparent;
  font-weight: bold;
  padding: .5rem;
}

.accordion-button:focus {
  box-shadow: none;
}

form {
  display: grid;
  grid-template-columns: auto auto;
  gap: .2rem;
}

.btn-link {
  background-color: transparent;
  color: #fff!important;
  text-decoration: none;
}

a {
  margin-right: .5rem;
  color: #003747!important;
}

button {
  background-color: #003747;
  color: #fff;
  border-radius: 0;
}

.btn:hover {
  border-color: none!important;
}

li:hover, a:hover {
  background-color: #0098CB!important;
}

input {
  border-radius: 0;
}

ul{
  list-style: none;
  display: grid;
  grid-template-columns: 50% 50%;
  padding-left: 0;
}

.form-control:focus {
  border-color: #0098CB;
  outline: none;
  box-shadow: none;
  color: #0098CB;
}
.example-form-field {
  width: 200px;
}
.ocultar {
  display: none;
}

.emprendre-bck, .connectar-bck, .projectar-bck{
  margin: 1px;
}

@media screen and (max-width: 992px) {
  .pre-defined-filter-area {
    margin-top: 0;
  }
}

@media screen and (max-width: 760px) {
  .filter-form {
    padding-left: 0;
  }
  .pre-defined-filter-area {
    padding-left: 0;
  }
}