.filter-form {
  grid-area: formulario;
  margin-bottom: 0;
  padding-left: 0;
}

.filter-form-pre-defined {
  margin-top: 0;
}

.pre-defined-filter-area {
  grid-area: preDefinedFilter;
  background-color: transparent;
  color: #003747!important;
}

.accordion-body{
  padding: 0;
}

.accordion-button{
  margin: 0px !important;
  background-color: transparent;
  font-weight: bold;
  padding: .5rem;
}

.accordion-button:focus {
  box-shadow: none;
}

form {
  display: grid;
  grid-template-columns: auto auto;
  gap: .2rem;
}

.btn-link {
  background-color: transparent;
  color: #fff!important;
  text-decoration: none;
}

a {
  margin-right: .5rem;
  color: #003747!important;
}

button {
  border: 1px;
  border-color: #000000;
  background: #dd9f70;
  font-style: normal;
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1.5rem;
  color: #ffffff;
}

.btn:hover {
  border-color: none!important;
  border: 1px;
border-color: #000000;
background: #974890;
font-style: normal;
font-weight: bold;
font-size: 1.125rem;
line-height: 1.5rem;
color: #ffffff;
}

li:hover, a:hover {
  background-color: #0098CB!important;
}

input {
  border-radius: 0;
}

ul{
  list-style: none;
  display: grid;
  grid-template-columns: 50% 50%;
  padding-left: 0;
}

.form-control:focus {
  border-color: #0098CB;
  outline: none;
  box-shadow: none;
  color: #0098CB;
}
.example-form-field {
  width: 200px;
}
.ocultar {
  display: none;
}

.emprendre-bck, .connectar-bck, .projectar-bck{
  margin: 1px;
}

/* @media screen and (max-width: 1200px) {
  form {
    padding: .5rem;
  }
} */

@media screen and (max-width: 992px) {
  .pre-defined-filter-area {
    margin-top: 0;
  }
}

@media screen and (max-width: 768px) {
  .filter-form {
    padding-left: 0;
  }
  .pre-defined-filter-area {
    padding-left: 0;
  }
}