.entry-content {
  padding: 0;
}

.wp-block-columns:nth-child(1) {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 0 20%;
  .wp-block-column {

  }
}
.wp-block-column h1 {
  padding-bottom: 1rem;
}
.wp-block-column h2 {
  padding-bottom: 1rem;
}
.wp-block-group:nth-child(2), .wp-block-group:nth-child(4) {
  color: #fff;
  padding: 2rem 0;
  height: 488px;
  .wp-block-columns {
    display: grid;
    grid-template-columns: 50% 50%;
  }
}

.wp-block-group:nth-child(2) {
  background-image: url('../../assets/images/servicios-02.webp');
  background-position: center;
}

.wp-block-group:nth-child(4) {
  background-image: url('../../assets/images/servicios-04.webp');
  background-size: auto;
}

.contact-form-area {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 0 15%;
}

@media screen and (max-width: 992px) { 
  .wp-block-column, .wp-block-group {
    h1,h2, p {
    padding-left: 1.25rem;
    padding-right: 1.25rem; 
    }
  }
  .wp-block-columns:nth-child(1) {
  grid-template-columns: 1fr;
  padding: 0;
  img {
    width: 100%;
    height: auto;
  }
  }
  .wp-block-group:nth-child(2) 
  .wp-block-columns, 
  .wp-block-group:nth-child(4) .wp-block-columns {
    grid-template-columns: 1fr;
  }
  .wp-block-group:nth-child(2), .wp-block-group:nth-child(4) {
  color: #fff;
  padding: 2rem 0;
  height: auto;
}
.contact-form-area {
  grid-template-columns: 1fr;
  padding: 0;
    img {
    width: 100%;
    height: auto;
  }
}  
}