.entry-content {
  display: grid;
  grid-template-areas:  "titulo imagen" 
                        "contenido imagen";
  .image{
    width: 100%;
  }
}

.detail-title {
  grid-area: titulo;
}
.content {
  grid-area: contenido;
}
.image {
  grid-area: imagen;
}

@media screen and (max-width: 992px) {
  .entry-content {
  padding: 0;
  grid-template-areas:  "imagen"
                        "titulo"
                        "contenido";
}
}