.wp-block-gallery {
  display: grid;
  grid-template-columns:  repeat(2, 1fr);
  gap: 1rem;
  max-width: 100%;
  margin: 0 auto;
}

.wp-block-gallery figure  {
  position: relative;
  margin: 0;
  overflow: hidden;
}

.wp-block-gallery img {
  width: 100%;
  height: 100%;
  display: block;
}

.wp-block-gallery figcaption {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding: 0.5rem;
  color: white;
  font-size: 3rem;
  text-align: center;

}

.wp-block-image:hover, .wp-block-gallery img:hover {
  /* opacity: 0.7; */
  filter: grayscale(100%);
}

.wp-block-gallery .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.5s ease;
}

.wp-block-gallery .overlay:hover {
  opacity: 1;
}

.wp-block-gallery .overlay p {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  position: absolute;
  bottom: 10px;
  width: 100%;
}

.wp-block-image {
  position: relative;
  display: inline-block;

  img {
    display: block;
  }

  .wp-element-caption {
    position: absolute;
    line-height: 3rem;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; // Puedes ajustar el color según tus necesidades
    //background-color: rgba(0, 0, 0, 0.5); // Fondo semitransparente para mejor legibilidad
    //padding: 5px;
    text-align: center;
  }
}


@media screen and (max-width: 992px) {
  .content-detail {
    grid-template-areas: "figure" "title" "body";
    margin: 0;
  }
  figure {
    width: 100%;
  }
  .wp-block-gallery {
    grid-template-columns: repeat(1, 1fr);
    .wp-block-image .wp-element-caption {
      position: absolute;
      line-height: 3rem;
      top: 60%;
      left: 50%;
      font-size: 2.5rem;
      transform: translate(-50%, -60%);
      color: white;
      text-align: center;
    } 
  }
    .entry-content {
    padding: 0;
  }
}