<h1>{{'Agenda' | translate}}</h1>

<section class="event-list-container" *ngIf="wpAgendaEmprender?.length !== 0">
  <div class="row">
  <div *ngFor="let itemAgendaEmprender of wpAgendaEmprender">
      <section class="card card-emprender">
        <div>
          <img class="img-fluid" src="../../../assets/images/logo-adrbalears-emprender.webp" alt={{itemAgendaEmprender.title.rendered}} title={{itemAgendaEmprender.title.rendered}} />
        </div>
        <div class="card-body" [innerHTML]="itemAgendaEmprender.content.rendered"></div>
      </section>
  </div>
  </div>
</section>
<div class="no-hay-eventos emprender-bck" *ngIf="!wpAgendaEmprender">
  <h2 *ngIf="currentLang === 'es-ES'">#EMPRENDRE, actualmente no tenemos eventos programados</h2>
  <h2 *ngIf="currentLang === 'ca-ES'">#EMPRENDRE, actualment no tenim esdeveniments programats</h2>
</div>

<section class="event-list-container" *ngIf="wpAgendaConectar?.length !== 0">
  <div class="row">
  <div *ngFor="let itemAgendaConectar of wpAgendaConectar">
      <section class="card card-connectar">
        <div>
          <img class="img-fluid" src="../../../assets/images/logo-adrbalears-conectar.webp" alt={{itemAgendaConectar.title.rendered}} title={{itemAgendaConectar.title.rendered}} />
        </div>
        <div class="card-body" [innerHTML]="itemAgendaConectar.content.rendered"></div>
      </section>
  </div>
  </div>
</section>
<div class="no-hay-eventos connectar-bck" *ngIf="!wpAgendaConectar">
  <h2 *ngIf="currentLang === 'es-ES'">#CONNECTAR, actualmente no tenemos eventos programados</h2>
  <h2 *ngIf="currentLang === 'ca-ES'">#CONNECTAR, actualment no tenim esdeveniments programats</h2>
</div>

<section class="event-list-container" *ngIf="wpAgendaProyectar?.length !== 0">
  <div class="row">
  <div *ngFor="let itemAgendaProyectar of wpAgendaProyectar">
      <section class="card card-proyectar">
        <div>
          <img class="img-fluid" src="../../../assets/images/logo-adrbalears-proyectar.webp" alt={{itemAgendaProyectar.title.rendered}} title={{itemAgendaProyectar.title.rendered}} />
        </div>
        <div class="card-body" [innerHTML]="itemAgendaProyectar.content.rendered"></div>
      </section>
  </div>
  </div>
</section>
<div class="no-hay-eventos proyectar-bck" *ngIf="!wpAgendaProyectar">
  <h2 *ngIf="currentLang === 'es-ES'">#PROJECTAR, actualmente no tenemos eventos programados</h2>
  <h2 *ngIf="currentLang === 'ca-ES'">#PROJECTAR, actualment no tenim esdeveniments programats</h2>
</div>



<div *ngIf="!existingEvents">
  <h2 *ngIf="currentLang === 'es-ES'">Estamos preparando nuevos eventos para ti</h2>
  <h2 *ngIf="currentLang === 'ca-ES'">Estem preparant nous esdeveniments per a tu</h2>
</div>

<!-- <div *ngIf="!agendaProyectar">
  <div class="row">
  <div *ngFor="let item of [1,2,3,4]">
  <div class="card" aria-hidden="true" id="noticiaUnoPlaceHolder">
    <div>
      <img src="../../../assets/images/logo-adrbalears-proyectar.webp" class="card-img-top" alt="loading image">
    </div>
    <div class="card-body">
      <h5 class="card-title placeholder-glow">
        <span class="placeholder col-6"></span>
      </h5>
      <p class="card-text placeholder-glow">
        <span class="placeholder col-7"></span>
      </p>
    </div>
  </div> 
</div>
</div>
</div> -->