.text-container {
  border-radius: 15px;
  padding: 1rem;
  background-color: rgba(0, 0, 0, .2);
  animation: 2s ease-out 0s 1 slideInFromLeft;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@media screen and (max-width: 1095px) {
  .simple-content {
    grid-template-rows: auto;
    column-gap: 2rem;
  }

  .text-container {
    position: relative;
    width: 100%;
    animation: 1s ease-out 0s 1 slideInFromLeft; 
  }

  form {
    position: relative;
    animation-duration: 2s;
    animation-name: slidein;
  }
}