.text-container {
  animation: .5s ease-out 0s 1 slideInFromLeft;
}
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@media screen and (max-width: 992px) {
  .simple-content {
    background-image: url('../../assets/images/home-invest-in-01.webp');
    padding: 1rem;
  }
  .text-container {
    position: relative;
    width: 100%;
    animation: 1s ease-out 0s 1 slideInFromLeft; 
    border-radius: 0;
  }
}