<div class="simple-content" *ngIf="contenido">
  <div class="text-container">Under construction !!!
   <!--  <div class='card__head' *ngIf="contenido.attributes.images.image_fulltext">
      <img width="100%" height="auto" src={{contenido.attributes.images.image_fulltext}} alt="{{contenido.attributes.title}}" title="{{contenido.attributes.title}}">
    </div>
    <h2 class="card__title">{{contenido.attributes.title}}</h2>   
    <div class="card__body" [innerHTML]="contenido.attributes.text.replaceAll( 'images/', 'https://contents.idi.es/images/') | wellFormattedLink">
    </div> -->
  </div>
</div>

